body{
    font-family: "Lato", sans-serif;
    max-width: 75rem;
    margin: auto;
    height: 100vh;
}

header{
    background-image:url(SharingFood.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height:200px;
    width: 100%;
    margin: auto;
}

/**** Menu Style *****************************************/

/* 

nav {
    border-bottom: 1px solid rgb(250, 248, 248);
}
 */










/* the list itself*/

ul.navlist{

    
    list-style-type: none;
    
    margin: 0px  0px 0px 0px;             /*-------------> push "paige box & rest of the content" further down       */


    padding: 0px 0px 0px 30px;             /*-------------> push "Home" to the left        */
    
    
    overflow: hidden;
    
    
    background-color: #494747;             /*------------->  change "menu background colour"        */
}






/* inside the list */

ul.navlist li
{
    float: left;
    display: inline;


    
    margin: 10px  50px 10px 0px;
    
    
    color: rgb(255, 255, 255);
}








ul.navlist li a {



    display: block;
    
    text-align: center;

    


    
}


ul.navlist li a:hover {
    background-color: #060606;
}









/**** Styling for main part */

main {
    border-bottom: 16px solid;
    box-sizing: border-box;

    
    min-height: 70%;
    

    display: flex;
    flex-wrap: wrap;


    /*ToDo: Make this a flexible container; 
    You can find the following helpful: display, flex-wrap, width, min-height, height
    See lecture slides*/
}





section, aside {

    margin: 0px 0px 20px 0px;

    box-sizing: border-box;
    

}




aside {
    
    /*ToDo: Set width.ToDo: For fluid layouts, use min-width, max-width, and set to relative 
   values, like 25% of the page.*/ 
    background-color: #98988d;

    max-height: 460px;

    width: 25%;

}

section {
   
    /*ToDo: Set width. For fluid layouts, use min-width, max-width, and set to relative 
   values, like 75% of the page.*/


   padding-left: 150px;
   margin-top: 10px;


   width: 50%;
}







/*Styling for search in aside*/
.search{
    display: block;
    width: auto;
    text-align: left;

    margin: 10px 0px 0px 10px;
}

.center {
    /*ToDo: Styling for centered elements
    You can use margin, width useful to center.
    */
    border: 3px solid green;
    padding: 10px;
  }



/* Styling for text inputs in the form*/


.textInput {
    display: block;
    width: auto;
    text-align: left;
}



/*Styling with a media query - lecture slide 36*/
@media screen and (max-width: 700px) {
    /* ToDo: Style aside and section so that they take 100% width on small screens*/
    aside {
    
    }
    
    section {
 
    }

    #hiddenSection{
        overflow-wrap: break-word;
    }

}
